* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v132_65 {
    width: 100%;
    height: 768px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v132_66 {
    width: 100%;
    height: 768px;
    background: rgba(246,246,246,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v132_67 {
    width: 400px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 297px;
    left: 483px;
    font-family: Lato;
    font-weight: Regular;
    font-size: 19px;
    opacity: 1;
    text-align: center;
  }
  .v132_68 {
    width: 169px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 219px;
    left: 598px;
    font-family: Lato;
    font-weight: Black;
    font-size: 27px;
    opacity: 1;
    text-align: center;
  }
  .v132_69 {
    width: 400px;
    height: 91px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 401px;
    left: 520px;
    overflow: hidden;
  }
  .v132_70 {
    width: 132px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v132_71 {
    width: 400px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 35px;
    left: 0px;
    border: 1px solid rgba(211,211,211,1);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v132_72 {
    width: 400px;
    height: 56px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 558px;
    left: 520px;
    overflow: hidden;
  }
  .v132_73 {
    width: 400px;
    height: 56px;
    background: #13AAC0;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-color: #13AAC0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
    
  }
  .v132_74 {
    width: 40px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 180px;
    font-family: Lato;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v132_76 {
    width: 271px;
    height: 99px;
    background: url("..//../Image/v132_40.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 74px;
    left: 547px;
    overflow: hidden;
  }
  